/*
  Large Tab icon
  icon.png = 40X40px
  [menu name] = .info => features[menu][] = "tasks"
  #features-menu li a.icon-[menu name] span.icon
*/
#features-menu li a.icon-tasks span.icon {
  background:url(icon.png) no-repeat;
}

/*
  Create content, small icon
  icon-small.png = 20X20px
  [project name] = .info => project = "task_manager"
  span.spaces-feature.feature-[project name]
*/
span.spaces-feature.feature-task_manager {
  background:url(icon-small.png) no-repeat;
}
li.task_manager-milestone span.spaces-feature.feature-task_manager {
  background:url(milestone-small.png) no-repeat;
}

/* Milestone Image */
img.milestone-icon {
  vertical-align: text-bottom;
}

/* hiding the block on edit form */
div#edit-field-parentid-0-value-wrapper{
  visibility:hidden;
  display:none;
}

/* hiding the dropdown selectors at end of draggable view tables */
table#draggableview_task_manager_tasks_1 th.views-field-field-parentid-value,
table#draggableview_task_manager_tasks_1 td.views-field-value0 {
  visibility:hidden;
  display:none;
}

/* priority indicators */
span.completed,
span.priority-high,
span.priority-med,
span.priority-low,
span.priority-hold,
span.priority-delegated {
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  padding: 0;
  text-align: center;
  text-shadow: 0 1px 1px #FFF;
  width: 100px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow:#ddd 0px 1px 1px;
  -webkit-box-shadow:#ddd 0px 1px 1px;
  box-shadow:#ddd 0px 1px 1px;
}
span.priority-high {
  background: #CC0033;
  color: #FFF;
  text-shadow: 0 1px 1px #000;
}
span.priority-med {
  background: #FFFF00;
}
span.priority-low {
  background: #33CC33;
}
span.priority-hold {
  background: #A9A9A9;
}
span.priority-delegated {
  background: #0000FF;
  color: #FFF;
  text-shadow: 0 1px 1px #000;
}

/* color tasks and milestones if they are completed or not */
span.completed {
  background: #EFEFEF;
  font-size: 11px;
  color: #ccc;
}
span.completed-desc {
  color: #ccc;
}
tr:hover span.completed,
tr:hover span.completed-desc {
  color: #666;
}
span.not-completed {
  color: #000;
}
